* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}

.banner {
	background-image: url('./img/bgimg.jpg');
	background-size: cover;
	min-height: 500px;
	background-position: right bottom;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

h1.banner-headline {
	font-size: 50px;
	padding-top: 100px;
}

p.banner-text {
	font-size: 24px;
	padding-top: 10px;
}

button.banner-btn {
	padding: 10px 30px;
	margin-top: 15px;
	background-color: #24126a;
	color: #ffffff;
	font-size: 18px;
	border: 0;
}

button.banner-btn:hover{
	background-color: #000000;
}

section.content {
	padding: 80px 0px;
	background-color: #f7f7f7;
}

.row {
	display: flex;
}

.col-6 {
	width: 50%;
}

img {
	max-width: 100%;
	height: auto;
}

.text-content {
	padding: 5%;
}

.text-content h1 {
	color: #24126a;
	margin-bottom: 20px;
	font-size: 25px;
}

.text-content p {
	color: #222222;
	font-size: 18px;
}

.text-content .btn {
	padding: 10px 20px;
	background-color: #24126a;
	color: #fff;
	margin-top: 20px;
	border:0;
}

.text-content .btn:hover {
	background-color: #000000;
}

footer {
	background-color: #000000;
	padding: 30px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}